<h1 class="mt-50 mb-20 text-center"style="font-size:800%;"><span style="color:#F8E71C">P</span>L<span style="color:red">A</span>Y<span style="color:#3267B4">B</span>OX</h1>
<span class="text-center f-30"><div class="test">行きたいスポットを選んでね</div></span>
<div class="container-fluid mt-30 mb-50">
  <div class="row">
    <div class="col-6">
        <a href="/proposal">
            <div class="card mx-auto bc-so fly" style="width: 25rem; height:600px">
              <img class="card-img-top" src="tokyo.jpg" alt="Card image cap" style="height:270px">
              <div class="card-body">
                <h5 class="card-title c-bk f-40">東京タワー</h5>
                <p class="card-text c-bk mb-30 f-25">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">詳細を見る</a>
              </div>
            </div>
        </a>
    </div>
    <div class="col-6">
      <a href="/proposal">
            <div class="card mx-auto bc-so fly" style="width: 25rem; height:600px">
              <img class="card-img-top" src="rikugien.jpg" alt="Card image cap" style="height:270px">
              <div class="card-body">
                <h5 class="card-title c-bk f-40">六義園</h5>
                <p class="card-text c-bk mb-30 f-25">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">詳細を見る</a>
              </div>
            </div>
      </a>
    </div>  
    <div class="col-6 mt-50">
      <a href="/proposal">
            <div class="card mx-auto bc-so fly" style="width: 25rem; height:600px">
              <img class="card-img-top" src="todoroki.jpg" alt="Card image cap" style="height:270px">
              <div class="card-body">
                <h5 class="card-title c-bk f-40">等々力渓谷</h5>
                <p class="card-text c-bk mb-30 f-25">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">詳細を見る</a>
              </div>
            </div>
      </a>
    </div>  
    <div class="col-6 mt-50">
      <a href="/proposal">
            <div class="card mx-auto bc-so fly" style="width: 25rem; height:600px">
              <img class="card-img-top" src="odaiba.jpg" alt="Card image cap style="height:270px"">
              <div class="card-body">
                <h5 class="card-title c-bk f-40">お台場</h5>
                <p class="card-text c-bk mb-30 f-25">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">詳細を見る</a>
              </div>
            </div>
      </a>
    </div>  
  </div>
</div>


<div clas="change mb-50" style="text-align:center">
  <a href="proposal"><p class="f-30 c-bk"><i class="far fa-compass"></i>他のスポットを表示</p></a>
</div>

<div class="mb-50"></div>


<script></script>