<h1 class="mt-50 mb-20 text-center"style="font-size:800%;"><span style="color:#F8E71C">P</span>L<span style="color:red">A</span>Y<span style="color:#3267B4">B</span>OX</h1>
<span class="text-center f-30"><div class="test">気分を選んでね</div></span>
<div class="container-fluid mt-30">
  <div class="row">
    <div class="col-4">
        <a href="/proposal">
            <div class="card mx-auto text-center bc-y fly" style="width: 18rem; height:300px;">
              <div class="card-body">
                <h1 class="card-title" style="line-height:260px;color:black">ワクワク</h1>
              </div>
            </div>
        </a>
    </div>
    <div class="col-4">
      <a href="/proposal">
          <div class="card mx-auto text-center bc-rb fly" style="width: 18rem; height:300px;">
            <div class="card-body">
              <h1 class="card-title" style="line-height:260px;color:black">のんびり</h1>
            </div>
          </div>
      </a>
    </div>  
    <div class="col-4">
      <a href="/proposal">
          <div class="card mx-auto text-center bc-o fly" style="width: 18rem; height:300px;">
            <div class="card-body">
              <h1 class="card-title" style="line-height:260px;color:black">しょんぼり</h1>
            </div>
          </div>
      </a>
    </div>      
  </div>
</div>