<div class="container-fluid text-center mt-250">
    <div class="row">
        <div class="col-12">
            <h1 style="font-size:800%"><span style="color:#F8E71C">P</span>L<span style="color:red">A</span>Y<span style="color:#3267B4">B</span>OX</h1>
        </div>
        <div class="col-12">
            <div class="test" style="margin-top:-20px; font-size:30px; color:#18355F">
                この週末はどこに行こうか決まっていますか？<del>正直遊ぶ場所を決めるのって面倒くさいことも多いですよね。。</del>PLAYBOXで遊ぶ場所は今すぐ決めてしまいましょう！
            </div>
        </div>
        <div class="col-12 mx-auto mt-30">
            <a href="/count"><button type="button" class="btn btn-info btn-lg">＞プランを決める</button></a>
        </div>
    </div>
</div>



